:root {
    --background-text-light: #575757;
    --background-text-dark: #BBBBBB;
    --background-text-clip-light: #FFFFFF;
    --background-text-clip-dark: #000000;
    --background-text: var(--background-text-light);
    --background-text-clip: var(--background-text-clip-light);
}

body.darkmode {
    --background-text: var(--background-text-dark);
    --background-text-clip: var(--background-text-clip-dark);
}

.footer-section {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    bottom: 0;
    z-index: 1;
}

.footer-content>h2 {
    margin: 0;
    color: var(--primary-text-color-dark);
    font-size: 3.65rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-content>span {
    margin: 0;
    color: var(--secondary-text-color-dark);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contact-me-footer-btn {
    --contact-btn-footer-font-size: 1.3rem;
    --contact-btn-footer-vertical-padding: 0.75rem;
    --contact-btn-footer-horizontal-padding: 3rem;
    --contact-btn-footer-height: calc(var(--contact-btn-footer-font-size) + 2*var(--contact-btn-footer-vertical-padding));

    font-size: var(--contact-btn-footer-font-size);
    padding: var(--contact-btn-footer-vertical-padding) var(--contact-btn-footer-horizontal-padding);
    border-radius: calc(0.5*var(--contact-btn-footer-height));

    color: white;
    background: linear-gradient(to right, var(--orange-light), var(--orange-dark));
    border: none;
    margin-bottom: 1rem;
}


.footer-social-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}

.footer-content .social-icon-wrapper {
    background-color: var(--social-icon-background-dark);
}

.footer-content .social-icon {
    fill: var(--social-icon-foreground-dark);
}

.footer-background {
    position: absolute;
    bottom: -180px;
    transform: scale(0.6) translateX(+50px);
    z-index: -1;
    width: 2230px;
    mix-blend-mode: exclusion;
}

.footer-background>path {
    fill: #575757;
}

.footer-background-text {
    font-size: 10rem;
    font-weight: 600;
}

.footer-background>text {
    fill: var(--background-text);
}

#footer-backgound-text-group>text {
    fill: var(--background-text-clip);
}

.footer-background-limiter {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-background-limiter>div{
    width: 1920px;
    height: 100vh;
    position: relative;
}

.footer-background-decorator {
    position: absolute;
    left: 48px;
    top: 7.5vh;
    height: 85vh;
    z-index: -1;
    display: none;
}


@media (min-width: 550px) {
    .footer-content>h2 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (min-width: 650px) {
    .footer-background {
        transform: scale(0.6) translateX(+150px);
    }

    .footer-background-text {
        transform: translateX(-215px) translateY(50px);
        font-size: 14rem;
    }

    .contact-me-footer-btn {
        --contact-btn-footer-horizontal-padding: 5rem;
        font-size: 1.5rem;
    }

    .footer-content>span {
        font-size: 1.75rem;
    }

    .footer-content>h2 {
        font-size: 3.5rem;
    }

    .footer-content .social-icon-wrapper {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 1.6rem;
    }
}

@media (min-width: 1250px) {
    .footer-background-text {
        transform: translateX(-855px) translateY(50px);
    }
}

@media (min-width: 1450px) {
    .footer-background-decorator {
        display: inline;
    }
}

@media (min-width: 1800px) {
    .footer-background {
        transform: scale(0.6) translateX(+180px);
    }
}