.footer-background {
    background: -webkit-linear-gradient(top right, #CC1235, #0FB5AA);
    background: -moz-linear-gradient(top right, #CC1235, #0FB5AA);
    background: linear-gradient(to bottom left, #CC1235, #0FB5AA);

    height: var(--footer-height);

    flex-direction: column;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instagram::before{
    content: 
}