.section-top {
    --section-height: 30em;

    height: var(--section-height);
    max-height: 965px;
    position: relative;
}

.section-top>.background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    background-image: url("/assets/top-section-bg-light-small.png");
    background-position: center;
    z-index: -1;
}

.welcome-text {
    flex-direction: column;
}

.welcome-text>h1 {
    color: var(--text-color-main);
    font-size: 3.5em;
    text-align: left;
    margin: 0;
}

.welcome-text>h1::before {
    content: "Hi, I´m";
    font-size: 0.35em;
}

.welcome-text>h1::after {
    content: ".";
}

.welcome-text>h1::before,
.welcome-text>h1::after {
    color: var(--text-color-accent);
}

.welcome-text>p {
    color: var(--text-color-secondary);
    font-size: 1.25em;
    text-align: center;
    margin: 0.4em 0;
    width: fit-content;
}

.welcome-text>p::after {
    content: '|';
    animation: cursor-blink 1.5s steps(2) infinite;
}

.welcome-text .text-accent {
    color: var(--text-color-accent);
}

.btn-contact-me {
    margin-top: 0.85em;
    background: var(--button-gradient-green);
    padding: 1em 2em;
    border-radius: 2.25em;
    border: none;
}

.btn-contact-me>span {
    color: white;
    font-size: 1.5em;
}

@media (min-width: 700px) {
    .section-top {
        font-size: 1.25rem;
    }

    .section-top>.background-image {
        background-image: url("/assets/top-section-bg-light-big.png");
        background-size: cover;
        box-shadow: 2px 0 30px rgba(50, 50, 50, 0.2);
    }

    .welcome-text {
        background: rgba(200, 200, 200, 0.3);
        padding: 1em;
    }
}

@media (min-width: 900px) {
    .welcome-text {
        margin-right: 50%;
        background: none;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}