.section-projects {
    padding-top: var(--section-top-padding);

    font-family: sans-serif;
}

.projects {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 2.5em 0;
}

.projects-description-wrapper {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.description>* {
    margin: 1em;
}

.description>img {
    height: 10em;
}

.projects-wrapper {
    margin-top: 5em;
    margin-bottom: 10em;
}

.project {
    overflow: hidden;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 70px 140px 2px rgba(130, 135, 17, 0.2);
    height: auto;
}

.project>img {
    flex-grow: 1;
    width: 100%;
    /*aspect-ratio: 1;*/
    object-fit: cover;
    overflow: hidden;
}

.project-content {
    flex-shrink: 1;
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.project-content>* {
    margin: 0;
}

.project-content>h3 {
    font-size: 1.75em;
    font-weight: 300;
    color: var(--text-color-main);
    text-align: center;
    padding-bottom: 1rem;
}

.project-content>p {
    color: var(--text-color-secondary);
    padding-bottom: 1.5rem;
}

.view-project-button {
    padding: 1em 2em;
    border-radius: 2.25em;
    border: none;
}

.view-project-button>span {
    color: white;
    font-size: 1.15em;
}

.view-project-button:nth-of-type(4n){
    background: var(--button-gradient-purple);
}

.view-project-button:nth-of-type(4n+1){
    background: var(--button-gradient-orange);
}

.view-project-button:nth-of-type(4n+2){
    background: var(--button-gradient-blue);
}

.view-project-button:nth-of-type(4n+3){
    background: var(--button-gradient-green);
}

@media (max-width: 750px) {
    .project>div {
        width: auto;
    }
}

@media (min-width: 600px){
    .project{
        flex-wrap: nowrap;
    }
    .project>img{  
        min-width: 35%;   
        max-width: 40%;  
        min-height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1000px){
    .project>img{  
        min-width: 40%;   
    }
}

