.section-technologies {
    padding-top: var(--section-top-padding);
}

.technologies {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 2.5em 0;
}

.technologies-title {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 1rem;
}

.technologies-title>* {
    margin: 0;
    text-align: center;
}

.technologies-title>h2 {
    font-size: 2em;
    font-weight: 300;
    color: var(--text-color-main);
}

.technologies-title>p {
    font-size: 0.75em;
    color: var(--text-color-secondary);
}

.technologies-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.technology {
    width: 8em;
    aspect-ratio: 1;
    border-radius: 16px;
    margin: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: var(--technology-background-color);
}

.technology>img {
    height: 90%;
    aspect-ratio: inherit;
    object-fit: cover;
}

.technology>span {
    display: none;
}

/*TODO: Mobile?*/
.technology:hover>span,
.technology:active>span {
    --font-size: 1.5em;

    display: inline;
    position: absolute;
    font-size: var(--font-size);
    background-color: white;
    /*text-shadow: 2px 2px hsla(0, 0%, 80%, 1);*/
    color: black;
    margin: auto auto;
}

.technology.inactive>span {
    display: none;
}

.technology:hover>img,
.technologies.inactive>img {
    opacity: 0.4;
}

.technology:hover::before,
.technology.inactive::before {
    position: absolute;
    left: 0;
    top: 0;

    content: '';

    width: 100%;
    aspect-ratio: inherit;
    border-radius: inherit;
    background-color: hsla(0, 0%, 100%, 0.6);
}