.section-about-me {
    padding-top: var(--section-top-padding);

    font-family: sans-serif;
}

.about-me {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 2.5em 0;
}

.section-title {
    justify-self: center;
}

.about-me-content {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
}

.about-me-content>* {
    margin: 1em;
}

.about-me-content>img {
    order: 1;
    object-fit: contain;
    height: 20em;
    border-radius: 20px;
}

.about-me-content>img:hover {
    box-shadow: 3px 3px 10px var(--text-color-accent);
}

.about-me-text {
    display: inline-flex;
    max-width: fit-content;
    order: 2;
    flex-direction: column;
    align-items: center;
}

.about-me-text>* {
    margin: 0;
    box-sizing: border-box;
}

.about-me-text>h2 {
    width: fit-content;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 1rem;
}

.about-me-text .accent-text {
    color: var(--text-color-accent);
}

@media (min-width: 700px) {
    .section-about-me {
        font-size: 1.15rem;
    }
}

@media (min-width: 1200px) {
    .section-about-me {
        font-size: 1.2rem;
    }
}