@import url('welcome-section.styles.css');
@import url('darkmode-toggle.styles.css');
@import url('about-me-section.styles.css');
@import url('projects-section.styles.css');
@import url('footer-section.styles.css');
@import url('contact-me-page.styles.css');
@import url('utils.styles.css');

/*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;0,700&display=swap');
/*Oldenburg*/
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
/*Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap');

:root {
    --orange-light: #F6980B;
    --orange-dark: #EC6931;

    --primary-text-color-light: #000000;
    --primary-text-color-dark: #FFFFFF;
    --primary-text-color: var(--primary-text-color-light);
    --secondary-text-color-light: #868686;
    --secondary-text-color-dark: #868686;
    --secondary-text-color: var(--secondary-text-color-light);

    --body-background-light: #FFFFFF;
    --body-backround-dark: #1A1A1A;
    --body-background: var(--body-backround-light);

    --social-icon-background-light: #4F4f4F;
    --social-icon-background-dark: #FFFFFF;
    --social-icon-background: var(--social-icon-background-light);
    --social-icon-foreground-light: #FFFFFF;
    --social-icon-foreground-dark: #000000;
    --social-icon-foreground: var(--social-icon-foreground-light);

    --about-me-background-light: #E7F1F4;
    --about-me-background-dark: #2F2F2F;
    --about-me-background: var(--about-me-background-light);

    --main-transition-time: .75s;

    --max-width: 1100px;
}

body.darkmode {
    --social-icon-background: var(--social-icon-background-dark);
    --body-background: var(--body-backround-dark);
    --primary-text-color: var(--primary-text-color-dark);
    --secondary-text-color: var(--secondary-text-color-dark);
    --about-me-background: var(--about-me-background-dark);
    --social-icon-foreground: var(--social-icon-foreground-dark);
}

body {
    margin: 0;
    background-color: var(--body-background);
    font-family: 'Open Sans', sans-serif;
    transition: var(--main-transition-time);
}

/* Hide scrollbars */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.transition {
    transition: var(--main-transition-time);
}