.contact-btn {
    color: white;
    border: none;
    cursor: pointer;
}

.contact-btn:hover {
    box-shadow: 2px 2px 3px hsl(0, 0%, 40%);
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title>* {
    text-align: center;
}

.section-title>h2 {
    margin: 0;
    margin-bottom: 0.1em;
    font-weight: 600;
    font-size: 4rem;
    color: var(--primary-text-color);
}

.section-title>p {
    margin: 0;
    font-size: 1.15em;
    color: var(--secondary-text-color);
}

.social-icon-wrapper {
    width: 2.8em;
    height: 2.8em;
    border-radius: 1.4em;
    background-color: var(--social-icon-background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icon.dark {
    display: none;
}

.social-icon.light {
    display: block;
}

body.darkmode .social-icon.dark {
    display: block;
}

body.darkmode .social-icon.light {
    display: none;
}