.flex{
    display: flex;
}

.centered{
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clickable{
    cursor: pointer;
}

.plain-white-text{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
}

.display-none{
    display: none;
}

.text-paragraph-width{
    width: clamp(45ch, 55ch, 100%);
    max-width: 100%;
    text-align: justify;
}

.button-shadow{
    box-shadow: 0 10px 35px 0 rgba(72,90,140,.275);
}