.navbar-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1920px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    margin-top: 1.5em;
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
    z-index: 5;
}

.navbar-content-right {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    color: var(--secondary-text-color);
    text-decoration: none;
}

#open-mobile-menu {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.navbar-content-right li {
    list-style-type: none;
    margin: 0 0.5em;
    height: fit-content;
    font-size: 1.1em;
    cursor: pointer;
}

.navbar-content-right li {
    list-style-type: none;
    margin: 0 0.5em;
    height: fit-content;
    font-size: 1.1em;
    cursor: pointer;
}

.navbar-contact-btn {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.35em 0.75em;
    border-radius: 0.95em;

    background: linear-gradient(to right, var(--orange-dark), var(--orange-light));
}

.welcome-section {
    height: 100vh;
    overflow: hidden;
}

.welcome-wrapper {
    display: flex;
    align-items: top;
    justify-content: left;
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    position: relative;
}

.welcome-content {
    margin-top: 4em;
    margin-left: 2em;
    color: var(--primary-text-color);
}

.welcome-content>span {
    font-family: 'Oldenburg';
    font-weight: 400;
    font-size: 0.85em;
}

.welcome-content>h1 {
    color: var(---primary-text-color);
    font-weight: 600;
    font-size: 4em;
    margin: 0;
    line-height: 1.15em;
}

.welcome-content>p {
    color: var(--secondary-text-color);
    font-size: 0.9em;
}

.welcome-content>p>span {
    font-weight: 600;
    font-style: italic;
    background: -webkit-linear-gradient(90deg, var(--orange-light), var(--orange-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-btn-social-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    width: fit-content;
    grid-gap: 1em 0;
}

.welcome-contact-btn {
    font-weight: 600;
    border-radius: 1.5em;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    width: 9em;
    height: 3em;

    background: linear-gradient(to right, var(--orange-dark), var(--orange-light));
}

.welcome-social-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.welcome-portrait {
    height: 35rem;
    position: absolute;
    bottom: -5em;
    right: -20em;
    z-index: -1;
}

@media (min-width: 500px) {
    .welcome-portrait {
        height: 37.5rem;
    }

    .welcome-content {
        font-size: 1.1rem;
    }

    .welcome-content>h1 {
        font-size: 4.25em;
    }

}

@media (min-width: 600px) {
    .welcome-portrait {
        right: -15rem;
    }
}

@media (min-width: 700px) {
    .welcome-portrait {
        right: -12.5em;
        height: 42.5rem;
    }

    .welcome-wrapper {
        align-items: center;
    }

    .welcome-content {
        margin-left: 3em;
    }

    .navbar-content-right {
        display: flex;
    }

    #open-mobile-menu {
        display: none;
    }
}

@media (min-width: 800px) {
    .welcome-portrait {
        left: initial;
        right: -7em;
        height: 44.5rem;
    }
}

@media (min-width: 1000px) {
    .welcome-content {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .welcome-content>p {
        font-size: 1.2em;
    }

    .welcome-content>h1 {
        font-size: 5em;
    }

    .welcome-portrait {
        right: -10em;
        height: 50rem;
    }
}